<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
        <title>개인 정보 출력 화면(GET)</title>
        <style>
            h2{color: red;}
            h3{color: black;}
            span.name{color: orangered;}
            span.gender{color: yellow; background-color: black;}
            span.age{color: green}
            span.city{color: blue;}
            span.height{color: navy;}
            span.food{color: purple;}
            span{font-weight: bold;}
        </style>
    </head>
    <body>
        <h2>개인정보 입력 결과(GET)</h2>
        <span class="name">홍길동</span>님은
        <span class="age">20대</span> 이시며,
        <span class="city">서울</span> 에 사는 키
        <span class="height">180cm</span>인
        <span class="gender">남자</span>입니다. <br>
        좋아하는 음식은 <span class="food">한식, 중식</span>입니다.
        
        <h3>30대에 맞는 선물 추천</h3>
        <span class="gift">'명품'</span>선물은 어떠신가요?
    </body>
</html>